<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
{{#keys}}
	<key>{{level}}</key>
	<string>{{identifier}}</string>
{{/keys}}
	<key>list</key>
	<array>
		{{#keys}}
		<dict>
			<key>data</key>
			<string>{{data}}</string>
			<key>identifier</key>
			<string>{{identifier}}</string>
			<key>iterations</key>
			<integer>{{iterations}}</integer>
			<key>level</key>
			<string>{{level}}</string>
			<key>validation</key>
			<string>{{validation}}</string>
		</dict>
		{{/keys}}
	</array>
</dict>
</plist>
